<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.cdnfonts.com/css/coolvetica-2" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/coolvetica-2');
    </style>
    <title>¡Mercado Liebre!</title>
</head>

<body>
    <header class="main-header">
        <div class="logo-busqueda-compra">
            <img src="images/logo-mercado-liebre.svg" class="logo">
            <form action="form-result.php" class="barra-de-busqueda" method="post" target="_blank">
                <p>
                    <input type="search" name="busquedamusica" placeholder="Buscar productos, marcas, etc.">
                    <input type="submit" value="Buscar">
                </p>
            </form>

            <h2 class="compra-en-cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas sin tarjeta de crédito
            </h2>
        </div>

        <nav class="navigator">
            <a href="·" class="hamburguer"><i class="fa-solid fa-bars"></i></a>
            <p class="direccion">
                Envío a Fragio 263
            </p>

            <ul class="selector-1">
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>

            <ul class="selector-2">
                <li>Creá tu cuenta&nbsp<i class="fa-regular fa-address-card"></i></li>
                <li>Ingresá&nbsp<i class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis compras&nbsp<i class="fa-solid fa-basket-shopping"></i></li>
            </ul>

        </nav>
    </header>

    <main>
        <div class="background">
            <img src="/images/img-home-banner.jpg" class="carrousel">
        </div>
        <div class="basado-en">
            Basado en tus últimas visitas
        </div>
        <article class="ultima-visita">
            <div class="producto-ultima-visita">
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <p class="descripcion-de-producto-ultima">
                <h3 class="precios">$230.000</h3>
                <h3>MacBook Pro 2019</h3>
                <h3 class="off">20% off</h3>
                <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                <br>
            </div>
            <div class="producto-ultima-visita">
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <p class="descripcion-de-producto-ultima">
                <h3 class="precios">$830.000</h3>
                <h3>MacBook Pro 2022</h3>
                <h3 class="off">20% off</h3>
                <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                <br>
            </div>
        </article>
        <div class="breaks-espacios"> <br></div>

        <div class="basado-en">
            Ofertas
        </div>
        <article class="ultima-visita">
            <div class="producto-ultima-visita">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p class="descripcion-de-producto-ultima">
                <h3 class="precios">$150.000</h3>
                <h3>Samsung Galaxy S10</h3>
                <h3 class="off">10% off</h3>
                <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                <br>
            </div>
            <div class="producto-ultima-visita">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p class="descripcion-de-producto-ultima">
                <h3 class="precios">$830.000</h3>
                <h3>Samsung Galaxy S15</h3>
                <h3 class="off">20% off</h3>
                <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                <br>
            </div>
    </main>
    <div class="breaks-espacios"> <br></div>
    <footer class="footer">
        <div class="footer1">
            <p class="footer-paga"><i class="fa-solid fa-credit-card"></i>
                Pagá con tarjeta o efectivo
            </p>
            <p class="footer-paga-detalle">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                siempre
                es seguro!
            </p>
        </div>

        <div class="footer2">
            <p class="footer-envio"><i class="fa-solid fa-truck"></i>
                Envío gratis desde $ 2.500
            </p>
            <p class="footer-puntos">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                beneficio
                de Mercado Puntos.
            </p>
        </div>

        <div class="footer3">
            <p class="footer-seguridad"><i class="fa-regular fa-shield-cat"></i>
                Seguridad, de principio a fin
            </p>
            <p class="footer-gusta">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </div>

        <div class="footer4">
            <p class="footer-copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </div>

    </footer>
    <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
</body>

</html>